# This is Git's per-user configuration file.
[user]
	name = Ryan Swanson
  email = ryan@nomad.xyz
	signingkey = C07E7909F8045DAD
[init]
	defaultBranch = main
[advice]
	addIgnoredFile = false
[pull]
	ff = only
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
